pyrogram==1.2.9 
py-tgcalls==0.5.5 
TgCrypto
python-dotenv
youtube_dl
youtube_search_python==1.4.6 
requests
aiohttp==3.7.4 
aiofiles
asyncio
youtube_search
python-arq
search_engine_parser
wget 
ffmpeg-python
Pillow==8.3.1
ujson
yt_dlp
