pyrogram
py-tgcalls 
TgCrypto
git+https://github.com/ophexor/yt-dl@master
python-dotenv
youtube_dl
youtube_search_python==1.4.6 
requests
aiohttp
aiofiles
asyncio
youtube_search
python-arq
search_engine_parser
wget 
ffmpeg-python
Pillow==8.3.1
ujson
yt_dlp
